@media screen and (max-width: 765px) {
    .special-flex {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 100%;
        text-align: left;
        text-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
    }

    .btn-next, .btn-next:hover {
        color: #ffffff;
        background: #ff325f;
        display: block;
        text-align: center;
        margin: auto;
        padding: 10px;
        font-size: 16px;
        font-weight: 900;
        cursor: pointer;

    }
}